<div class="area-seleccion">
  <!-- Tabla principal que contiene 3 columnas -->
  <table>
    <tr>
      <!-- Columna 1: Tabla interna de 2x2 con las imágenes de los luchadores -->
      <td>
        <table class="luchadores">
          <tr>
            <td *ngFor="let character of characters.slice(0, 2)">
              <!-- Llamamos al componente RetratoLuchador para cada imagen -->
              <app-retrato-luchador 
                [character]="character" 
                [isSelected]="character === selectedCharacter"
                [colorAsociado]="character.colorAsociado"
                (selected)="selectCharacter(character)">
              </app-retrato-luchador>
            </td>
          </tr>
          <tr>
            <td *ngFor="let character of characters.slice(2, 4)">
              <!-- Llamamos al componente RetratoLuchador para cada imagen -->
              <app-retrato-luchador 
                [character]="character" 
                [isSelected]="character === selectedCharacter"
                [colorAsociado]="character.colorAsociado"
                (selected)="selectCharacter(character)">
              </app-retrato-luchador>
            </td>
          </tr>
        </table>
      </td>

      <!-- Columna 2: Mostrar GIF del luchador seleccionado -->
      <td *ngIf="selectedCharacter">
        <div class="gif-container">
          <img [src]="selectedCharacter.animacion" alt="Animación de {{ selectedCharacter.nombre }}" class="gif" />
        </div>
      </td>

      <!-- Columna 3: Mostrar nombre del luchador seleccionado -->
      <td *ngIf="selectedCharacter">
        <div class="name-container">
          <app-atributo-luchador [character]="selectedCharacter"></app-atributo-luchador>
        </div>
      </td>
    </tr>
  </table>
</div>
